* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  height: 50px;
  width:100vw;

  background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

.header {
  width: 100%;
  height: 60px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;         
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.logo {
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 10px gold;
}


.navbar {
  display: flex;
  gap: 30px;
}


.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}


.navbar a:hover {
  color: gold;
  text-shadow: 0 0 10px orange;
}


.navbar a::after {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: gold;
  transition: width 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}


.banner {
  margin-top: 60px;
}


.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: #111;
  color: white;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autorun 20s linear infinite;
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  transition: transform 0.5s, box-shadow 0.5s, filter 0.5s;
}


.banner .slider .item img:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 25px gold;
  filter: brightness(1.3); 
  cursor: pointer;
}


@keyframes autorun {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0;
  transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
             translateZ(550px);
}

section {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
 background: #b43aa2;
background: linear-gradient(90deg, rgba(180, 58, 162, 1) 0%, rgba(29, 175, 253, 1) 41%, rgba(69, 252, 84, 1) 88%);
  color:rgb(11, 11, 11);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.4);
  backdrop-filter: blur(5px);
}

section h2 {
  color: gold;
  margin-bottom: 10px;
  text-shadow: 0 0 10px orange;
}

section p {
  font-size: 1.1rem;
  line-height: 1.8;
}
section samp{
  color: red;
}



.contact-us ul {
  list-style: none;
  padding: 0;
}

.contact-us li {
  margin: 5px 0;
}
/* .about{
 color: white;
 position: absolute;
 top:67px;
 width: 70px;
 display: none;

}
.about1{
background-color: rgb(241, 13, 13);
border-radius: 10px;
position: relative;
}
.about1:hover .about{
  display: block;

}


 */
